
[V200R003C00]
#
 sysname AS2-RR2
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 48.2.0.5 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
ip vpn-instance vpn16
 ipv4-family
  route-distinguisher 100:6
  vpn-target 100:6 export-extcommunity
  vpn-target 100:6 300:1 300:2 400:1 400:2 200:7 import-extcommunity
#
ip vpn-instance vpn27
 ipv4-family
  route-distinguisher 200:7
  vpn-target 200:7 export-extcommunity
  vpn-target 200:7 300:1 300:2 400:1 400:2 100:6 import-extcommunity
#
ip vpn-instance vpn31
 ipv4-family
  route-distinguisher 300:1
  vpn-target 300:1 export-extcommunity
  vpn-target 300:1 300:5 400:1 100:6 200:7 import-extcommunity
#
ip vpn-instance vpn32
 ipv4-family
  route-distinguisher 300:2
  vpn-target 300:2 export-extcommunity
  vpn-target 300:2 300:5 400:2 100:6 200:7 import-extcommunity
#
ip vpn-instance vpn33
 ipv4-family
  route-distinguisher 300:3
  vpn-target 300:3 export-extcommunity
  vpn-target 300:3 400:3 import-extcommunity
#
ip vpn-instance vpn35
 ipv4-family
  route-distinguisher 300:5
  vpn-target 300:5 export-extcommunity
  vpn-target 300:1 300:2 300:5 400:1 400:2 import-extcommunity
#
ip vpn-instance vpn41
 ipv4-family
  route-distinguisher 400:1
  vpn-target 400:1 export-extcommunity
  vpn-target 300:1 300:5 400:1 100:6 200:7 import-extcommunity
#
ip vpn-instance vpn42
 ipv4-family
  route-distinguisher 400:2
  vpn-target 400:2 export-extcommunity
  vpn-target 300:2 300:5 400:2 100:6 200:7 import-extcommunity
#
ip vpn-instance vpn43
 ipv4-family
  route-distinguisher 400:3
  vpn-target 400:3 export-extcommunity
  vpn-target 300:3 400:3 import-extcommunity
#
ip vpn-instance vpn44
 ipv4-family
  route-distinguisher 400:4
  vpn-target 400:4 export-extcommunity
  vpn-target 400:1 400:2 400:4 import-extcommunity
#
mpls lsr-id 48.2.0.5
mpls
#
mpls ldp
#
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 48.2.3.2 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet0/0/1
 ip address 48.2.1.2 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet0/0/2
 ip binding vpn-instance vpn27
 ip address 172.27.48.2 255.255.255.248 
#
interface GigabitEthernet4/0/0
 ip address 48.2.9.1 255.255.255.0 
#
interface GigabitEthernet4/0/1
 ip address 48.2.10.1 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet4/0/2
 ip address 48.2.11.2 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet4/0/3
#
interface NULL0
#
interface LoopBack0
 ip address 48.2.0.5 255.255.255.255 
#
bgp 2
 group ASBR internal
 peer ASBR connect-interface LoopBack0
 peer 48.2.0.1 as-number 2 
 peer 48.2.0.1 group ASBR 
 peer 48.2.0.2 as-number 2 
 peer 48.2.0.2 group ASBR 
 peer 48.2.0.6 as-number 2 
 peer 48.2.0.6 group ASBR 
 peer 48.2.0.7 as-number 2 
 peer 48.2.0.7 group ASBR 
 group exRR external
 peer exRR ebgp-max-hop 255 
 peer exRR connect-interface LoopBack0
 peer 48.1.0.5 as-number 1 
 peer 48.1.0.5 group exRR 
 peer 48.1.0.6 as-number 1 
 peer 48.1.0.6 group exRR 
 peer 48.4.0.4 as-number 4 
 peer 48.4.0.4 group exRR 
 peer 48.4.0.5 as-number 4 
 peer 48.4.0.5 group exRR 
 group inRR internal
 peer inRR connect-interface LoopBack0
 peer 48.2.0.4 as-number 2 
 peer 48.2.0.4 group inRR 
 #
 ipv4-family unicast
  undo synchronization
  peer ASBR enable
  peer ASBR label-route-capability
  peer 48.2.0.1 enable
  peer 48.2.0.1 group ASBR 
  peer 48.2.0.2 enable
  peer 48.2.0.2 group ASBR 
  peer 48.2.0.6 enable
  peer 48.2.0.6 group ASBR 
  peer 48.2.0.7 enable
  peer 48.2.0.7 group ASBR 
  peer exRR enable
  peer 48.1.0.5 enable
  peer 48.1.0.5 group exRR 
  peer 48.1.0.6 enable
  peer 48.1.0.6 group exRR 
  peer 48.4.0.4 enable
  peer 48.4.0.4 group exRR 
  peer 48.4.0.5 enable
  peer 48.4.0.5 group exRR 
  peer inRR enable
  peer 48.2.0.4 enable
  peer 48.2.0.4 group inRR 
 # 
 ipv4-family vpnv4
  policy vpn-target
  peer exRR enable
  peer inRR enable
 #
 ipv4-family vpn-instance vpn27 
  peer 172.27.48.3 as-number 2277 
#
ospf 1 
 area 0.0.0.0 
  network 48.2.0.0 0.0.255.255 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return