
[V200R003C00]
#
 sysname AS3-PE1
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
ip vpn-instance vpn31
 ipv4-family
  route-distinguisher 300:1
  vpn-target 300:1 export-extcommunity
  vpn-target 300:1 300:5 400:1 100:6 200:7 import-extcommunity
#
ip vpn-instance vpn33
 ipv4-family
  route-distinguisher 300:3
  vpn-target 300:3 export-extcommunity
  vpn-target 300:3 400:3 import-extcommunity
#
mpls lsr-id 48.3.0.7
mpls
#
mpls ldp
#
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 48.3.8.2 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet0/0/1
 ip address 48.3.12.1 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet0/0/2
 ip binding vpn-instance vpn31
 ip address 172.21.48.1 255.255.255.248 
#
interface GigabitEthernet4/0/0
 ip binding vpn-instance vpn33
 ip address 172.23.48.1 255.255.255.248 
#
interface GigabitEthernet4/0/1
#
interface GigabitEthernet4/0/2
#
interface GigabitEthernet4/0/3
#
interface NULL0
#
interface LoopBack0
 ip address 48.3.0.7 255.255.255.255 
#
bgp 3
 peer 48.3.0.5 as-number 3 
 peer 48.3.0.5 connect-interface LoopBack0
 peer 48.3.0.6 as-number 3 
 peer 48.3.0.6 connect-interface LoopBack0
 peer 48.3.0.8 as-number 3 
 peer 48.3.0.8 connect-interface LoopBack0
 peer 172.23.48.2 as-number 3 
 #
 ipv4-family unicast
  undo synchronization
  bgp-rib-only
  peer 48.3.0.5 enable
  peer 48.3.0.6 enable
  peer 48.3.0.8 enable
  peer 172.23.48.2 enable
 # 
 ipv4-family vpnv4
  policy vpn-target
  peer 48.3.0.5 enable
  peer 48.3.0.6 enable
 #
 ipv4-family vpn-instance vpn31 
  import-route direct
  peer 172.21.48.3 as-number 3 
 #
 ipv4-family vpn-instance vpn33 
  import-route direct
  peer 172.23.48.2 as-number 3 
#
ospf 1 
 area 0.0.0.0 
  network 48.3.0.0 0.0.255.255 
  network 48.3.8.0 0.0.0.255 
  network 48.3.12.0 0.0.0.255 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return